In [16]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
newdf = df.drop(columns = ['Name','Ticket','Cabin','PassengerId','Pclass','SibSp','Parch'])
df1 = pd.get_dummies(newdf,dtype=int)

In [18]:
df1.corr()

,Survived,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.077221,0.257307,0.543351,-0.543351,0.168240,0.003650,-0.155660
Age,-0.077221,1.000000,0.096067,-0.093254,0.093254,0.036261,-0.022405,-0.032523
Fare,0.257307,0.096067,1.000000,0.182333,-0.182333,0.269335,-0.117216,-0.166603
Sex_female,0.543351,-0.093254,0.182333,1.000000,-1.000000,0.082853,0.074115,-0.125722
Sex_male,-0.543351,0.093254,-0.182333,-1.000000,1.000000,-0.082853,-0.074115,0.125722
Embarked_C,0.168240,0.036261,0.269335,0.082853,-0.082853,1.000000,-0.148258,-0.778359
Embarked_Q,0.003650,-0.022405,-0.117216,0.074115,-0.074115,-0.148258,1.000000,-0.496624
Embarked_S,-0.155660,-0.032523,-0.166603,-0.125722,0.125722,-0.778359,-0.496624,1.000000

In [23]:
x1 = df1.drop(columns = ['Survived'])
y1 = df['Survived']

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x1,y1,test_size=0.33)

In [43]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [31]:
model.score(x_train,y_train)

0.8314606741573034

In [14]:
n = int(input())
for i in range(n):
    Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S = map(int,input().split(','))
    Age,Fare = map(float,input().split(','))
    print(model.predict([[Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S]]))

1
0,1,0,0,1
22.0,7.2500
[0]

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(